@import "location" ;

.logo{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  & img{
    height: 30px;
    width: 30px;
    
  }
}

.search {
  align-items: center;
  display: flex;
  & > * {
    &:not(:last-child) {margin-right: 10px;}
  }
  &__icon {
    @include size(22px);
    fill: $white;
  }
  .input-field {
    flex: 0 0 220px;
  }
}

.order-callback {
  display: flex;
  flex-direction: column;
  &__description {
    font-size: 12px;
  }
  &__phone {
    color: $main-action-color;
    font-size: 24px;
    font-family: $boldest-font;
    line-height: 1.5;
    white-space: nowrap;
  }
  &__link {
    color: $white;
    font-size: 14px;
    font-family: $medium-font;
    text-decoration: underline;
  }
}
